@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: thin;
  overflow-x: clip;
}

a {
  cursor: pointer;
}

.timeline::after {
  content: '';
  width: 100%;
  height: calc(100% + 8em);
  background: linear-gradient(0deg, #fff9 0%, #f7f7f700 60%);
  position: absolute;
  z-index: 1;
  pointer-events: none;
}


